In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [6]:
dataset=dataset.drop("User ID",axis=1)

In [7]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0         True
1     35            20000          0         True
2     26            43000          0        False
3     27            57000          0        False
4     19            76000          0         True
..   ...              ...        ...          ...
395   46            41000          1        False
396   51            23000          1         True
397   50            20000          1        False
398   36            33000          0         True
399   49            36000          1        False

[400 rows x 4 columns]

In [8]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [9]:
independent=dataset[[ 'Age', 'EstimatedSalary','Gender_Male']]

In [10]:
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000         True
1     35            20000         True
2     26            43000        False
3     27            57000        False
4     19            76000         True
..   ...              ...          ...
395   46            41000        False
396   51            23000         True
397   50            20000        False
398   36            33000         True
399   49            36000        False

[400 rows x 3 columns]

In [11]:
dependent=dataset[['Purchased']]

In [12]:
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [15]:
from sklearn.naive_bayes import BernoulliNB
from sklearn. model_selection import GridSearchCV
param_grid = {'alpha':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0], 
              'force_alpha':[True],
              'binarize':[None], 
              'fit_prior':['bool',True], 
              'class_prior':[None]}
 
grid = GridSearchCV(BernoulliNB(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
grid.fit(x_train,y_train)  
print("Best parameters found: ", grid.best_params_)
y_pred = grid.predict(x_test)
print("Predictions: ", y_pred)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Best parameters found:  {'alpha': 0.1, 'binarize': None, 'class_prior': None, 'fit_prior': True, 'force_alpha': True}
Predictions:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
50 fits failed out of a total of 100.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
50 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'fit_prior' parameter of BernoulliNB must be an instance of 'bool' or an instance of 'numpy.bool_'. Got 'bool' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1102: UserWarning: One or more of the test scores are non-finite: [       nan 0.50786173        nan 0.50786173        nan 0.50786173
        nan 0.50786173        nan 0.50786173        nan 0.50786173
        nan 0.50786173        nan 0.50786173        nan 0.50786173
        nan 0.50786173]
  warnings.warn(
C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\user\anaconda3\Lib\site-packages\sklearn\naive_bayes.py:1199: RuntimeWarning: invalid value encountered in log
  self.feature_log_prob_ = np.log(smoothed_fc) - np.log(

In [23]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)

In [25]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)

In [27]:
print(cm)

[[85  0]
 [49  0]]

In [29]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)

C:\Users\user\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\user\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\user\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [31]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.63      1.00      0.78        85
           1       0.00      0.00      0.00        49

    accuracy                           0.63       134
   macro avg       0.32      0.50      0.39       134
weighted avg       0.40      0.63      0.49       134

In [33]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'alpha': 0.1, 'binarize': None, 'class_prior': None, 'fit_prior': True, 'force_alpha': True}: 0.49240100865535336

In [35]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

ValueError: Input contains NaN.

In [37]:
table=pd.DataFrame.from_dict(re)

In [39]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_binarize,param_class_prior,param_fit_prior,param_force_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000809,0.000991,0.000000,0.000000,0.1,None,None,bool,True,"{'alpha': 0.1, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
1,0.040176,0.016979,0.029273,0.005648,0.1,None,None,True,True,"{'alpha': 0.1, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1
2,0.002333,0.003629,0.000000,0.000000,0.2,None,None,bool,True,"{'alpha': 0.2, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
3,0.032157,0.014777,0.025497,0.005037,0.2,None,None,True,True,"{'alpha': 0.2, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1
4,0.002726,0.003903,0.000000,0.000000,0.3,None,None,bool,True,"{'alpha': 0.3, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
5,0.019427,0.011246,0.023383,0.003929,0.3,None,None,True,True,"{'alpha': 0.3, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1
6,0.001103,0.001967,0.000000,0.000000,0.4,None,None,bool,True,"{'alpha': 0.4, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
7,0.012219,0.004209,0.027380,0.004759,0.4,None,None,True,True,"{'alpha': 0.4, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1
8,0.001402,0.002805,0.000000,0.000000,0.5,None,None,bool,True,"{'alpha': 0.5, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
9,0.010462,0.005538,0.027831,0.005547,0.5,None,None,True,True,"{'alpha': 0.5, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1
10,0.002006,0.002537,0.000000,0.000000,0.6,None,None,bool,True,"{'alpha': 0.6, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
11,0.009227,0.003798,0.024891,0.003172,0.6,None,None,True,True,"{'alpha': 0.6, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1
12,0.004740,0.003548,0.000000,0.000000,0.7,None,None,bool,True,"{'alpha': 0.7, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
13,0.015837,0.008146,0.024161,0.004946,0.7,None,None,True,True,"{'alpha': 0.7, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1
14,0.001217,0.002435,0.000000,0.000000,0.8,None,None,bool,True,"{'alpha': 0.8, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
15,0.011948,0.006990,0.026469,0.004640,0.8,None,None,True,True,"{'alpha': 0.8, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1
16,0.003127,0.004097,0.000000,0.000000,0.9,None,None,bool,True,"{'alpha': 0.9, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
17,0.008285,0.007579,0.028590,0.003585,0.9,None,None,True,True,"{'alpha': 0.9, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1
18,0.000339,0.000678,0.000000,0.000000,1.0,None,None,bool,True,"{'alpha': 1.0, 'binarize': None, 'class_prior'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
19,0.009834,0.003098,0.020356,0.003142,1.0,None,None,True,True,"{'alpha': 1.0, 'binarize': None, 'class_prior'...",0.509779,0.5253,0.50141,0.50141,0.50141,0.507862,0.009302,1